

.navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.heading {
  font-family: 'Bangers', cursive;
}

.table {
  font-family: 'Acme', sans-serif;
}

.topnav {
  font-family: 'Sedgwick Ave', cursive;
}

.navbar {
  font-family: 'Sedgwick Ave', cursive;
}
