

.heading {
  font-family: 'Bangers', cursive;
}

.table {
  font-family: 'Acme', sans-serif;
}

.topnav {
  font-family: 'Sedgwick Ave', cursive;
}

.navbar {
  font-family: 'Sedgwick Ave', cursive;
}
